{% extends "admin.html" %}

{% block content %}
<div>
	<h2>Characters</h2>
	{% for c in characters %}
		<a href="" >c.name</a>
	{% endfor %}
</div>	
<div>
	<h2>New Character</h2>
	<form method="post" action="/api/character/player/new">
		<label>Character Data</label><br/>
		<label>Name</label><input type="text" name="name" value="Wulfgar The Angry" /><br/>
		<label>Level</label><input type="text" name="level" value="1" /><br/>		
		<label>Cast</label><input type="text" name="cast" value="Fighter" /><br/>		
		<label>Race</label><input type="text" name="race" value="Human" /><br/>		
		<label>Alignment</label><input type="text" name="alignment" value="Good" /><br/>		
		<label>Hit Points</label><input type="text" name="hp" value="16" /><br/>
		<label>Size</label><input type="text" name="size" value="Medium" /><br/>		
		<label>Speed</label><input type="text" name="speed" value="6" /><br/>					
		<label>Height</label><input type="text" name="height" value="160" /><br/>		
		<label>Weight</label><input type="text" name="weight" value="220" /><br/><br/>		
		<label>Ability Scores</label><br/>
		<label>STR</label><input type="text" name="STR" value="10" /><br/>
		<label>CON</label><input type="text" name="CON" value="11" /><br/>
		<label>DEX</label><input type="text" name="DEX" value="12" /><br/>
		<label>INT</label><input type="text" name="INT" value="13" /><br/>		
		<label>WIS</label><input type="text" name="WIS" value="14" /><br/>
		<label>CHA</label><input type="text" name="CHA" value="16" /><br/><br/>
		<label>Skill Scores</label><br/>
		<label>Acrobatics</label><input type="text" name="Acrobatics" value="5" /><br/>
		<label>Arcana</label><input type="text" name="Arcana" value="0" /><br/>
		<label>Athletics</label><input type="text" name="Athletics" value="0" /><br/>
		<label>Bluff</label><input type="text" name="Bluff" value="0" /><br/>
		<label>Diplomacy</label><input type="text" name="Diplomacy" value="0" /><br/>
		<label>Dungeoneering</label><input type="text" name="Dungeoneering" value="5" /><br/>
		<label>Endurance</label><input type="text" name="Endurance" value="2" /><br/>
		<label>Heal</label><input type="text" name="Heal" value="1" /><br/>
		<label>History</label><input type="text" name="History" value="0" /><br/>
		<label>Insight</label><input type="text" name="Insight" value="0" /><br/>
		<label>Intimidate</label><input type="text" name="Intimidate" value="0" /><br/>
		<label>Nature</label><input type="text" name="Nature" value="2" /><br/>
		<label>Perception</label><input type="text" name="Perception" value="1" /><br/>		
		<label>Religion</label><input type="text" name="Religion" value="2" /><br/>	
		<label>Stealth</label><input type="text" name="Stealth" value="0" /><br/>	
		<label>Streetwise</label><input type="text" name="Streetwise" value="5" /><br/>							
		<label>Thievery</label><input type="text" name="Thievery" value="0" /><br/><br/>		
    <input type="submit" value="Submit" />
	</form>	
</div>	
	
{% endblock %}