{% extends "admin.html" %}

{% block content %}
<div>
	<form method="post" action="/admin/init/races">
		<label>Seed Races</label>
		<input type="submit" value="Seed" />
	</form>	
	<form method="post" action="/admin/init/casts">
		<label>Seed Casts</label>
		<input type="submit" value="Seed" />
	</form>	
	<form method="post" action="/admin/init/npcs">
		<label>Seed NPCs</label>
		<input type="submit" value="Seed" />
	</form>	
	<form method="post" action="/admin/init/weapons">
		<label>Seed Weapons</label>
		<input type="submit" value="Seed" />
	</form>	
	<form method="post" action="/admin/init/attacks">
		<label>Seed Attacks</label>
		<input type="submit" value="Seed" />
	</form>	
</div>	
{% endblock %}