<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">

  <head>
  	<title></title>
  	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  	<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  </head> 
  <body>
  <div id="container">
    <div id="header">
		SuperLARP
    </div><!-- /header -->
    <div id="content"> 
		</div><!-- /content -->
	 	<div id="footer">
		</div><!-- /footer -->
	</div><!-- /container -->
  </body>
</html>